{% extends 'dashboard/base.html' %}
{% load humanize %}
{% block body %}

<section id="content">
<div class="row">
    <div class="col-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-cash-register"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total Recaudado</span>
              <span class="info-box-number">{{total_collected|floatformat:"2g"}} $</span>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-podcast"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total Donado</span>
              <span class="info-box-number">{{total_donated|floatformat:"2g"}} $</span>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-tachometer-alt"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Campañas Activas</span>
              <span class="info-box-number">{{campaign_actives}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="card card-default w-100 card-light">
                            <div class="card-header">Últimas donaciones recibidas</div>
                            <div class="card-body">
                                <ul class="list-group">
                                    {% for donative in last_donation_receivers %}
                                        <li class="list-group-item block-url" onclick="window.open(this.getAttribute('data-url-detail'), '_blank')" data-url-detail="{% url 'campaign.details' pk=donative.campaign_id %}" style="cursor: pointer;">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                                        <strong>{{donative.campaign.title}}</strong>
                                                    </div>
                                                    <div class="col text-right">{{donative.created|naturaltime}}</div>
                                                </div>
                                                <div class="row">
                                                    <h6 class="lead">
                                                       {{donative.username}} - {{donative.amount|floatformat:"2g"}}$
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor%}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="card card-default w-100 card-light">
                            <div class="card-header">Últimas donaciones realizadas</div>
                            <div class="card-body">
                                <ul class="list-group">
                                    {% for donative in last_donation_made %}
                                        <li class="list-group-item block-url" onclick="window.open(this.getAttribute('data-url-detail'), '_blank')" data-url-detail="{% url 'campaign.details' pk=donative.campaign_id %}" style="cursor: pointer;">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                                        <strong>{{donative.campaign.title}}</strong>
                                                    </div>
                                                    <div class="col text-right">{{donative.created|naturaltime}}</div>
                                                </div>
                                                <div class="row">
                                                    <h6 class="lead">
                                                       {{donative.username}} - {{donative.amount|floatformat:"2g"}}$
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor%}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}