#foreground {
  height: 70vh; /* Establece la mitad del alto de la vista inicial */
  background-image: url("/static/images/fundme_bg_1.webp");
  background-size: auto; /* Ajusta la imagen para cubrir toda la sección */ /* Ajusta la imagen para cubrir toda la sección */
  background-position: center; /* Centra la imagen */
}