{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags  %}
{% block title %}FundVE | Enviar un donativo{% endblock title %}


{% block body %}

<div class="container py-3">
    <div class="row">
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
    </div>
    <div class="row">
        <div class="col-12">
            <h1>{{campaign.title}}</h1>
            <small class="lead">Enviar un donativo</small>
        </div>
        <div class="col-12"><hr></div>
        <div class="col-12">
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ request.user.id }}">
                <input type="hidden" name="campaign" value="{{campaign.id}}">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        {{form.amount|as_crispy_field}}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        {{form.transaction_code|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        {{form.payed_at|as_crispy_field}}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        {{form.voucher|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{form.mark_as_annonymous|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="id_comment">
                            Deja un comentario
                        </label>
                        <textarea name="comment" id="id_comment" cols="30" rows="4" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        {% buttons submit='Guardar' reset="Cancelar" %}{% endbuttons %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}