{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags  %}
{% block title %}FundVE | Enviar un donativo{% endblock title %}

{% block head %}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock head%}

{% block body %}

<div class="container py-3" x-data="app()" x-init="$nextTick(() => init())">
    <div class="row">
        {% bootstrap_messages %}
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <h1>{{campaign.title}}</h1>
                    <small class="lead">Enviar un donativo</small>
                </div>
                <div class="col-12"><hr></div>
                <div class="col-12">
                    <form action="" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ request.user.id }}">
                        <input type="hidden" name="campaign" value="{{campaign.id}}">
                        <input type="hidden" name="payment_method" :value="selectedPaymentId" required>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                {{form.amount|as_crispy_field}}
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                {{form.transaction_code|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                {{form.payed_at|as_crispy_field}}
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                {{form.voucher|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{form.mark_as_annonymous|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="id_comment">
                                    Deja un comentario
                                </label>
                                <textarea name="comment" id="id_comment" cols="30" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                {% buttons submit='Guardar' reset="Cancelar" %}{% endbuttons %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-light card-default">
                <div class="card-header">Seleccione metodo de donación</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <select name="payment_method_selector" x-model="selectedPaymentMethod" id="id_payment_method_selector" class="form-control">
                                <option>---</option>
                                {% for method in receiver_payment_methods %}
                                    <option value="{{method.to_json}}">{{method.get_payment_method_display}} - {{method.based}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <template x-if="jsonSelectedPaymentMethod != null">
                        <div class="row py-2">
                            <div class="col-12 d-flex flex-row justify-content-center align-items-center">
                                <img :src="jsonSelectedPaymentMethod.payment_method.display" style="max-width: 120px; max-height: 150px;" alt="" srcset="">
                            </div>
                            <div class="col-12"><hr></div>
                            <div class="col-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <strong>Número de cuenta: </strong>
                                        <span x-text="jsonSelectedPaymentMethod.account.account_number"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Tipo de cuenta: </strong>
                                        <span x-text="jsonSelectedPaymentMethod.account.account_type"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Títular: </strong>
                                        <span x-text="jsonSelectedPaymentMethod.account.account_named"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>C.I: </strong>
                                        <span x-text="jsonSelectedPaymentMethod.account.type.card_id"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
{% block js %}
<script>
    function app() {
        return  {
            transactionData: null,
            isStarted: null,
            selectedPaymentMethod: null,
            jsonSelectedPaymentMethod: null,
            selectedPaymentId: null,
            init() {
                if (this.isStarted == null) {
                    this.isStarted = new Date()
                } else {
                    return null
                }
                console.info("App running since ", this.isStarted)
                this.startEventListeners()
                this.setSubmitBtn()
            },
            setSubmitBtn() {
                let  submitBtn = document.querySelector("button[type='submit']")
                if (submitBtn == null ){ 
                    return null
                }
                if ( this.selectedPaymentId == null) {
                    submitBtn.setAttribute("disabled", true)
                } else {
                    submitBtn.removeAttribute("disabled")
                }
            },
            startEventListeners() {
                this.$watch("selectedPaymentMethod", (value, oldValue) => {
                    if (value !== "---") { 
                        this.jsonSelectedPaymentMethod = JSON.parse(value)
                        this.selectedPaymentId = this.jsonSelectedPaymentMethod.id
                    } else {
                        this.jsonSelectedPaymentMethod = null
                        this.selectedPaymentId = null
                    }

                    this.setSubmitBtn()
                })
            }
        }
    }
</script>
{% endblock js%}