{% load static i18n compress%}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% load bootstrap5 %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %} My Awesome Project {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Proyecto de ing de software periodo 2-2023"
    />
    <meta name="author" content="Equipo 1" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {# Load CSS and JavaScript #}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    {% bootstrap_css %}    
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    <nav class="navbar navbar-expand-lg bg-success navbar-nav-scroll">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">FundVE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    {% block body %} 
      <main class="w-100">
        <section id="foreground">
          
          <form action="" method="post" class="h-100">
            {% csrf_token %}
            <div class="form-row h-100">
              <div class="col-9 col-lg-4 col-xl-4 offset-2 offset-lg-4 h-100 d-flex flex-column justify-content-center">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Título" aria-label="Recipient's username with two button addons">
                  <button class="btn btn-success" type="button">Crear Campaña</button>
                </div>
              </div>
            </div>
          </form>

        </section>
      </main>
      <section id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center pt-2">
              <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            </div>
          </div>
        </div>
      </section>
    {% endblock body %}

    
    {% bootstrap_javascript %}
  </body>
</html>
